body {
  position: relative;
  height: 100%;
  font-family: 'Cerebri Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  font-feature-settings: 'liga' 1, 'dlig' 1, 'lnum' 1, 'ordn' 1, 'halt' 1, 'kern' 1, 'kern';
  text-rendering: optimizeLegibility;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern';
  -webkit-font-feature-settings: 'kern';
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-height: 100vh;
  /* color: white; */
  /* color: rgba(255, 255, 255, 0.95); */
  text-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.w-10 {
  width: 10rem;
}

.w-48 {
  width: 48%;
}

.hover-underline {
  position: relative;
}

.hover-underline:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 0.1em;
  background: currentColor;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.hover-underline:hover:after {
  width: 100%;
}

@font-face {
  font-family: FZDHTJW;
  src: url('FZDHTJW.TTF');
}